.dashboard-graphs-container {
  margin: 0;
  padding: 0 0.5em;
}

.dashboard-metrics-trigger {
  text-align: right;
  margin: 0 0.5em;
}

.dashboard-metrics-trigger a {
  display: inline-block;
  text-align: right;
}

.dashboard-metrics-trigger a:before {
  content: 'i';
  display: inline-flex;
  width: 1em;
  height: 1em;
  font-size: 0.5em;
  color: rgb(var(--color-darkest));
  border: 1px solid rgb(var(--color-darkest));
  border-radius: 100%;
  place-content: center;
}

.dashboard-metrics main {
  margin-bottom: 1em;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.graph {
  display: grid;
  grid-template-columns: 0.2fr minmax(auto, 1fr);
  gap: 0.5em;
  margin-bottom: 0.8em;
  align-items: center;
}

.graph-label {
  color: rgb(var(--color-darkest));
  font-family: sans-serif;
}

.graph-description {
  text-align: right;
  font-size: 1em;
  font-weight: 600;
}

.graph-name {
  font-size: 0.8em;
}

.graph-name a {
  font-size: 1em;
}

.graph-total {
  margin: 0;
  padding: 0;
  font-size: 0.6em;
  font-weight: 400;
}

.graph-bar-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  font-size: 0.6em;
  font-weight: 600;
}

.graph-bar-container {
  position: relative;
  height: 2em;
  width: 100%;
  border-radius: 25px;
  padding: 0;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.graph-bar-used {
  display: inline-flex;
  align-items: center;
  justify-content: end;
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  border-radius: 20px;
  box-shadow:
    inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);

}

.graph-bar-percent {
  margin: 0;
  font-size: 0.6em;
  font-weight: 900;
  color: rgba(60,60,60, 0.7);
}

.graph-bar-used:has(.graph-bar-percent:not(:empty)) {
  padding: 0em 0.5em;
  min-width: 2em;
}

.graph-days .graph-bar-container {
  border: 1px solid rgba(var(--color-days), 0.4);
  background-color: rgba(var(--color-days), 0.4);
}

.graph-days .graph-bar-used {
  background-color: rgb(var(--color-days))
}

.graph-budget .graph-bar-container {
  border: 1px solid rgba(var(--color-budget), 0.4);
  background-color: rgba(var(--color-budget), 0.4);
}

.graph-budget .graph-bar-used {
  background-color: rgb(var(--color-budget))
}

.graph-today .graph-bar-container {
  border: 1px solid rgba(var(--color-today), 0.4);
  background-color: rgba(var(--color-today), 0.4);
}

.graph-today .graph-bar-used {
  background-color: rgb(var(--color-today))
}

.dashboard-daily {
  width: 100%;
  font-size: 0.8em;
  font-weight: 600;
  color: rgb(var(--color-darkest));
  border-collapse: collapse;
}

.dashboard-daily tr:first-child {
  border-top: 1px solid rgb(var(--color-background-darker));
}

.dashboard-daily tr {
  border-bottom: 1px solid rgb(var(--color-background-darker));
}

.dashboard-daily th {
  text-align: left;
}

.dashboard-daily td {
  width: 50%;
  padding: 0.3em 0;
  text-align: right;
}

.dashboard-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  align-items: center;
}

.dashboard-categories label {
  font-size: 0.6em;
  font-weight: 600;
}

.dashboard-categories span {
  font-size: 0.8em;
  font-weight: 600;
  color: rgb(var(--color-darkest));
}
