.form-field {
  margin-bottom: 0.5em;
}

.form-field label {
  display: block;
  margin-bottom: 0.2em;
  font-size: 0.6em;
  font-weight: 600;
}

.form-field input::-webkit-outer-spin-button,
.form-field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.form-field input {
  display: block;
  padding: 0.3em 0.2em;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 0.8em;
}

.form-field.checkbox {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.2em;
}

.form-field.checkbox input {
  margin: 0;
  width: unset;
}

.form-field.checkbox label {
  margin: 0;
  font-size: 0.8em;
  font-weight: 400;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-meridiem-field {
  align-items: center;
  padding: 0;
  font-family: sans-serif;
}

.form-field input[type=date],
.form-field input[type=datetime-local] {
  padding: 0.3em 0.2em;
  display: inline-flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 0.8em;
  overflow: hidden;
  width: 100%;
  background: white;
  outline: none;
}

.form-field input:read-only {
  border: 0;
}

.form-field:has(:invalid) label {
  color: rgba(var(--color-error), 0.8);
}


.form-field input:invalid {
  border-color: rgba(var(--color-error), 0.8);
}

.form-field-right {
  display: flex;
  justify-content: flex-end;
}

.form-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form-fieldset-h {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.form-fieldset-h .form-field {
  width: 50%;
}

.labeled-icon {
  text-align: center;
}

.labeled-icon label {
  color: rgb(var(--color-darkest));
  border: 2px solid rgb(var(--color-background));
  border-radius: 3px;
  padding-top: 0.5em;
}

.labeled-icon label::after {
  content: attr(data-icon);
  display: block;
  text-align: center;
  font-size: 3em;
}
