* {
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--color-background));
  font: 1rem arial, sans-serif;
  max-width: 768px;
  margin: auto;
}

summary {
  font-size: 0.8em;
  margin: 0 0 0.5em 0;
}

summary:hover {
  cursor: pointer;
}

h1 {
  color: rgb(var(--color-darkest));
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}

h4 {
  color: rgb(var(--color-darkest));
  margin: 0 0 0.2em;
  font-size: 1em;
  text-align: center;
}

a,
a:visited {
  cursor: pointer;
  color: rgb(var(--color-darkest));
  text-decoration: none;
}

.hidden {
  display: none !important;
}
