body > header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.8em;

  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  align-items: start;

  background: rgb(var(--color-background));
}

.root i {
  font-size: 2.2em;
  line-height: 1;
}

.trip-edit i {
  font-size: 1.8em;
  line-height: 1;
}
