:root {
  --color-darkest: 93, 117, 143;

  --color-background: 242, 242, 247;
  --color-background-darker: 218, 218, 230;

  --color-error: 255, 0, 0;
  --color-info: 0, 0, 255;

  --color-days: 227, 121, 63;
  --color-budget: 241, 201, 100;
  --color-today: 96, 168, 140;

  --new-transaction-size: 60px;
}
